<p>Test config</p>
<extstats-config [initial]="'Initial'" [alternatives]="['alternative 1', 'alternative 2']" (select)="configChanged($event)"></extstats-config>

<hr>
<geek-list-editor [editable]="true" [initial]="'Friendless, OzGamer, Ozvortex'"></geek-list-editor>

<geek-list-editor [editable]="false" [initial]="'ferrao, Simonocles, Pierre le Bear'"></geek-list-editor>

<div>
  <p>
    If you're not sure about the user name, check with this handy finder:
  </p>
  <geek-combo (geekChosen)="choose($event)" [placeholder]="'BGG user name'"></geek-combo>
  <p *ngIf="!!foundGeek">
    The correct page is <a href="/geek.html?geek={{foundGeek}}">https://extstats.drfriendless.com/geek.html?geek={{foundGeek}}</a>
  </p>
</div>
<hr>

<p>This is a loader:</p>

<extstats-loader></extstats-loader>
